In [1]:
a = 9
b = 10
print (a*b)

90

In [ ]:
variable declaration rules

In [ ]:
rule 1 - there should not be any space

In [2]:
my name = 'seetharam'

SyntaxError: invalid syntax (<ipython-input-2-828324f26825>, line 1)

In [3]:
myname = 'seetharam'

In [ ]:
rule 2 - should not start with numbers

In [4]:
1myname = 'seetharam'

SyntaxError: invalid syntax (<ipython-input-4-d5be331b403f>, line 1)

In [5]:
myname1 = 'seetaram'

In [ ]:
rule 3 - should not use any special charcters

In [6]:
my@name = 'seetharam'

SyntaxError: cannot assign to operator (<ipython-input-6-eaae0c7ca045>, line 1)

In [7]:
!myname = 'seetharam'

'myname' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
$myname = 'seetharam'

SyntaxError: invalid syntax (<ipython-input-8-28e14b1ffbec>, line 1)

In [9]:
my_name = 'seetharam'

In [10]:
my*name = 'seetharam'

SyntaxError: cannot assign to operator (<ipython-input-10-304fb4998d70>, line 1)

In [11]:
!#$%^&*() = 'seetharam'

'#$%&*' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
Data types:
    String as str
    number as int, float 
    list as list
    tuple as tuple
    dictionaries as dict

In [21]:
num = a=1
float =b = 2.2
float =c=a+b
print (c)

3.2

In [ ]:
classification of data types:
    mutuable - can be editable (flexible)
    immutable - fixed

In [ ]:
Strings declaration:  A string is a series of characters enclosed with quotes. 
    it can  be enclosed either with signle ('') , double quotes("") or triple quotes("""""")

In [22]:
name = 'seetharam k'

In [23]:
name1 = "seetharam1 k"

In [31]:
name2 = """seetharam2 k"""

In [28]:
print(name,name1,name2)

seetharam seetharam seetharam

In [32]:
print(name,name1,name2)

seetharam seetharam seetharam2 k

In [34]:
str =name = "seetharam1 k"

In [37]:
print(name) # still not printing the charcters after space

seetharam1

In [ ]:
string methods: a method is a builtin program and readily use. type() is a string method

In [38]:
type(name)

str

In [41]:
type(num)

int

In [43]:
float= b=2.3
type(b)

float